@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Lexend&display=swap");
$fontInter: "Inter Tight", sans-serif;
$fontLexend: "Lexend", sans-serif;
.headerContainer {
  font-family: $fontLexend;
  display: flex;
  .menuHeader {
    padding: 5px;
    width: 200px;
    height: 35px;
  }
  .active {
    background-color: rgb(66, 180, 229);
    color: white;
  }
}
.bodyContainer {
  table {
    vertical-align: middle;
  }
  .sumPrice {
    h5 {
      span {
        color: red;
      }
    }
  }
  .btnPay {
    button {
      height: 30px;
      background-color: gold;
      border: 1px solid gray;
      padding: 0 10px;
      border-radius: 20px;
    }
  }
}
